<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b" data-initial-value="{{B1}}" onchange="onNumberChange()" >{{B-Options}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i" data-initial-value="{{I1}}" onchange="onNumberChange()" >{{I-Options}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n" data-initial-value="{{N1}}" onchange="onNumberChange()" >{{N-Options}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g" data-initial-value="{{G1}}" onchange="onNumberChange()" >{{G-Options}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o" data-initial-value="{{O1}}" onchange="onNumberChange()" >{{O-Options}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b" data-initial-value="{{B2}}" onchange="onNumberChange()" >{{B-Options}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i" data-initial-value="{{I2}}" onchange="onNumberChange()" >{{I-Options}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n" data-initial-value="{{N2}}" onchange="onNumberChange()" >{{N-Options}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g" data-initial-value="{{G2}}" onchange="onNumberChange()" >{{G-Options}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o" data-initial-value="{{O2}}" onchange="onNumberChange()" >{{O-Options}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b" data-initial-value="{{B3}}" onchange="onNumberChange()" >{{B-Options}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i" data-initial-value="{{I3}}" onchange="onNumberChange()" >{{I-Options}}</select></td>
    <td class="number_cell number_cell_n build_card_select build_card_n build_card_free">
        <span class="freeSpace number_cell"><i class="number_cell fa fa-star-o"></i></span>
    </td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g" data-initial-value="{{G3}}" onchange="onNumberChange()" >{{G-Options}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o" data-initial-value="{{O3}}" onchange="onNumberChange()" >{{O-Options}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b" data-initial-value="{{B4}}" onchange="onNumberChange()" >{{B-Options}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i" data-initial-value="{{I4}}" onchange="onNumberChange()" >{{I-Options}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n" data-initial-value="{{N4}}" onchange="onNumberChange()" >{{N-Options}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g" data-initial-value="{{G4}}" onchange="onNumberChange()" >{{G-Options}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o" data-initial-value="{{O4}}" onchange="onNumberChange()" >{{O-Options}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b" data-initial-value="{{B5}}" onchange="onNumberChange()" >{{B-Options}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i" data-initial-value="{{I5}}" onchange="onNumberChange()" >{{I-Options}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n" data-initial-value="{{N5}}" onchange="onNumberChange()" >{{N-Options}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g" data-initial-value="{{G5}}" onchange="onNumberChange()" >{{G-Options}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o" data-initial-value="{{O5}}" onchange="onNumberChange()" >{{O-Options}}</select></td>
</tr>