<div class="cardBlock" data-card-block="{{Code}}">
    <table class="bingo_card_table table">
        <colgroup>
            <col style="width:19%;">
            <col style="width:19%;">
            <col style="width:19%;">
            <col style="width:19%;">
            <col style="width:19%;">
        </colgroup>
        <thead class="bingo_card_head" data-card-id="{{ID}}">
            <tr colspan="5">
                <h3>Card: <span class="cardName" style="color:orange;">{{Code}}</span></h3>
                <div class="saveCardSection">
                    {{SaveForm}}
                </div>
            </tr>
            <tr class="theme_black_bg header">
                <th class="card_table_header game_table_header card_header_b">B</th>
                <th class="card_table_header game_table_header card_header_i">I</th>
                <th class="card_table_header game_table_header card_header_n">N</th>
                <th class="card_table_header game_table_header card_header_g">G</th>
                <th class="card_table_header game_table_header card_header_o">O</th>
            </tr>
        </thead>
        <tbody class="bingo_card_body">
            <tr class="bingo_row">
                <td class="number_cell number_cell_b">{{B1}}</td>
                <td class="number_cell number_cell_i">{{I1}}</td>
                <td class="number_cell number_cell_n">{{N1}}</td>
                <td class="number_cell number_cell_g">{{G1}}</td>
                <td class="number_cell number_cell_o">{{O1}}</td>
            </tr>
            <tr class="bingo_row">
                <td class="number_cell number_cell_b">{{B2}}</td>
                <td class="number_cell number_cell_i">{{I2}}</td>
                <td class="number_cell number_cell_n">{{N2}}</td>
                <td class="number_cell number_cell_g">{{G2}}</td>
                <td class="number_cell number_cell_o">{{O2}}</td>
            </tr>
            <tr class="bingo_row">
                <td class="number_cell number_cell_b">{{B3}}</td>
                <td class="number_cell number_cell_i">{{I3}}</td>
                <td class="number_cell number_cell_n">{{N3}}</td>
                <td class="number_cell number_cell_g">{{G3}}</td>
                <td class="number_cell number_cell_o">{{O3}}</td>
            </tr>
            <tr class="bingo_row">
                <td class="number_cell number_cell_b">{{B4}}</td>
                <td class="number_cell number_cell_i">{{I4}}</td>
                <td class="number_cell number_cell_n">{{N4}}</td>
                <td class="number_cell number_cell_g">{{G4}}</td>
                <td class="number_cell number_cell_o">{{O4}}</td>
            </tr>
            <tr class="bingo_row">
                <td class="number_cell number_cell_b">{{B5}}</td>
                <td class="number_cell number_cell_i">{{I5}}</td>
                <td class="number_cell number_cell_n">{{N5}}</td>
                <td class="number_cell number_cell_g">{{G5}}</td>
                <td class="number_cell number_cell_o">{{O5}}</td>
            </tr>
        </tbody>
    </table>
</div>