<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b">{{B}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i">{{I}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n">{{N}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g">{{G}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o">{{O}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b">{{B}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i">{{I}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n">{{N}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g">{{G}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o">{{O}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b">{{B}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i">{{I}}</select></td>
    <td class="number_cell number_cell_n build_card_select build_card_n build_card_free">
        <span class="freeSpace number_cell"><i class="number_cell fa fa-star-o"></i></span>
    </td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g">{{G}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o">{{O}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b">{{B}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i">{{I}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n">{{N}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g">{{G}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o">{{O}}</select></td>
</tr>
<tr>
    <td class="number_cell_b"><select class="centered dlf_select_medium build_card_select build_card_b">{{B}}</select></td>
    <td class="number_cell_i"><select class="centered dlf_select_medium build_card_select build_card_i">{{I}}</select></td>
    <td class="number_cell_n"><select class="centered dlf_select_medium build_card_select build_card_n">{{N}}</select></td>
    <td class="number_cell_g"><select class="centered dlf_select_medium build_card_select build_card_g">{{G}}</select></td>
    <td class="number_cell_o"><select class="centered dlf_select_medium build_card_select build_card_o">{{O}}</select></td>
</tr>