<tr class="example_row">
    <td class="example example{{B1}}" data-letter="B">{{B1}}</td>
    <td class="example example{{I1}}" data-letter="I">{{I1}}</td>
    <td class="example example{{N1}}" data-letter="N">{{N1}}</td>
    <td class="example example{{G1}}" data-letter="G">{{G1}}</td>
    <td class="example example{{O1}}" data-letter="O">{{O1}}</td>
</tr>
<tr class="example_row">
    <td class="example example{{B2}}" data-letter="B">{{B2}}</td>
    <td class="example example{{I2}}" data-letter="I">{{I2}}</td>
    <td class="example example{{N2}}" data-letter="N">{{N2}}</td>
    <td class="example example{{G2}}" data-letter="G">{{G2}}</td>
    <td class="example example{{O2}}" data-letter="O">{{O2}}</td>
</tr>
<tr class="example_row">
    <td class="example example{{B3}}" data-letter="B">{{B3}}</td>
    <td class="example example{{I3}}" data-letter="I">{{I3}}</td>
    <td class="example example{{N3}}{{FreeSpaceReq}}">{{N3}}</td>
    <td class="example example{{G3}}" data-letter="G">{{G3}}</td>
    <td class="example example{{O3}}" data-letter="O">{{O3}}</td>
</tr>
<tr class="example_row">
    <td class="example example{{B4}}" data-letter="B">{{B4}}</td>
    <td class="example example{{I4}}" data-letter="I">{{I4}}</td>
    <td class="example example{{N4}}" data-letter="N">{{N4}}</td>
    <td class="example example{{G4}}" data-letter="G">{{G4}}</td>
    <td class="example example{{O4}}" data-letter="O">{{O4}}</td>
</tr>
<tr class="example_row">
    <td class="example example{{B5}}" data-letter="B">{{B5}}</td>
    <td class="example example{{I5}}" data-letter="I">{{I5}}</td>
    <td class="example example{{N5}}" data-letter="N">{{N5}}</td>
    <td class="example example{{G5}}" data-letter="G">{{G5}}</td>
    <td class="example example{{O5}}" data-letter="O">{{O5}}</td>
</tr>