/**************************************************** 
	GENERAL: Applies to all pages;
*****************************************************/

/*BODY*/
body.theme_black_bg { background-color:black; color:white; }
#game_example_block.theme_black_bg { background-color:black; color:white; }
#game_example_block.theme_black_bg #close_example { background-color:red; color:white; }


#searchBarSection { text-align:left; border-radius:77px; border:1px solid gray; background-color:white; padding:0.5%; width:90%; margin:auto; font-size:20px; }
.searchBarInput { text-align:left; width:85%; display:inline-block; border:none; padding:2%; }
.searchBarInput:focus { border: none; outline: none; }
.searchClearIcon { float:right; color: red !important; }
.searchBarInput.searchPlaceholder { color:gray; }
.searchBarInput.searchText { color: black; }

.bingo_card_table { border-bottom:2px dashed white; margin-bottom:1%; }

.navBackTitle { text-decoration:none !important; color:inherit; cursor:pointer; }
.orangeText { color:orange !important; }

/* Buttons */
button { cursor: pointer; border:none; }
button:focus { outline: none; box-shadow: none; }
.noBorders { border: none; }
.noBorders:focus { outline: none; box-shadow:none; }


/**************************************************** 
	GAME CARD: Styling specific to the game card
*****************************************************/

	/* Game Card */
	#bingo_card_section { width:95%;margin:auto; text-align:center; }
	#bingo_card_table { margin-top:5%; }
	#bingo_card_table tbody tr td { padding:3% !important;}

	/* Game Card Size*/
	#bingo_card_table td.number_cell { font-size:150%; font-weight: bolder; }
	#bingo_card_table td.example { font-size:150%; font-weight: bolder; }
	.freeSpace { font-size:150% !important; }

	.game_card_input { font-size: 30px; }
	.number_cell_needed { color: red } 
	.number_cell_optional { color: orange !important; } 
	.number_cell_required { color: red !important; } 
	.number_selected { background-color:limegreen; color:white !important; border:none;}

	#card_created_timestamp { color:red; font-size:inherit; font-style:italic; }

	/* New Game Card */
	.bingo_card_table { margin-top:1%; }
	.bingo_card_table tbody tr td { padding:3% !important;}
	.bingo_card_table td.number_cell { font-size:initial }
	.bingo_card_table td.example { font-size:initial  }

	/* Build Card*/
	select.build_card_select{ width:100%; font-size:20px; }
	select.build_card_b { background-color: blue; color:white;}
	select.build_card_i { background-color: indigo; color:white;}
	select.build_card_n { background-color: navy; color:white;}
	select.build_card_g { background-color: green; color:white;}
	select.build_card_o { background-color: orange; color:white;}


/**************************************************** 
	GAME BOARD: Styling specific to the game board
*****************************************************/

/* Game Table*/
.table { width:100%; text-align: center; border-spacing: 0; border:1px solid black; }
.confirmButtons  { display:block; width: 70%; padding:1%; margin:auto; margin-top:7%; font-size:110%; }
#playBingoButton { background-color: limegreen; color:white; }
#adjustCardsButton { background-color: orange; color:black; }

/**************************************************** 
	MEDIA SCREENS
*****************************************************/

@media only screen and (min-device-width:1200px)
{
	.confirmButtons  { width:15%; margin-top:2%; padding:0.5%; }
	#searchBarSection { width:20%;}

	/* Game Card*/
	#bingo_card_table td.number_cell { font-size:initial }
	#bingo_card_table td.example { font-size:initial  }
	.freeSpace { font-size:initial; }

	/* New Game Card */
	#bingo_card_section { width:70%; }
	.bingo_card_table td.number_cell { font-size:initial }
	.bingo_card_table td.example { font-size:initial  }

}