/*********GENERAL (applies to all themes)**********************/
/* General */
.hidden { display:none; }
.centered { text-align: center; }
.bingo_cell{ cursor: pointer; }
#game_table { font-size:200%; }

/* Headings */
.dlf_title { font-size:100px; }
@media only screen and (min-width:1200px ) {
	.dlf_title { font-size:50px;}
}

/* BUTTONS */
.dlf_button { border-radius:7px; }
.dlf_button.dlf_button_large { font-size: 50px; }
@media only screen and (min-width:1200px ) {
	.dlf_button.dlf_button_large {font-size: 30px; }
}

/* SELECTS */
/* .dlf_select { } */
.dlf_select.dlf_select_large { font-size: 50px; }
@media only screen and (min-width:1200px) {
	.dlf_select.dlf_select_large {font-size: 30px; }
}

.button_mash { font-size:140%; cursor:pointer;  }

.identify_yourself { display:block; text-align:center; padding:2%; width:70%; margin:auto; cursor:pointer;
	background-color:lightgray; margin-bottom:2%; font-size: 50px; margin-bottom:5%; }
.identify_yourself:hover{background-color:blue; color:yellow; }
@media screen and (min-width:768px ) {
	.identify_yourself { font-size:100%; width: 40%;}
}

button { cursor: pointer; }

/* Top Section*/
#game_selector{ width:40%; float:left; }
#gameOptions { font-size:180%; }
#pickNumberButton {cursor:pointer;}
#selected_ball_section { width:40%; float:left; }
#selected_cell { margin-bottom:1%; color:red; margin-top:2%; font-size:44px; }
#pickNumberButton { margin-bottom:1%; margin-top:2%; font-size:44px; }

/* Game Table*/
.table { width:100%; text-align: center; border-spacing: 0; border:1px solid black; }
.header th { font-size:120%; }
.inelligible { visibility:hidden; }

/* Game Settings */
#game_settings_section { position:absolute; border:1px solid red; z-index:1000; 
						width:50%; margin-left:25%; margin-top:2%; text-align:center; }

#game_settings_section #close_game_settings { float:right; clear:both; padding-right:1%; }

#game_settings_table { width:60%; margin:auto; text-align: left; }
#game_settings_table td:nth-child(1) { text-align:right; }
#game_settings_table td:nth-child(2) { padding-left:5%; }
#game_settings_table select { width:100%; }

/* Game Example */
.example_filled { background-color:limegreen; color:red;  }
.example_empty { background-color:lightgray; color:gray;  }

#game_example_block { position:absolute; border:1px solid red; z-index:1000; 
						width:90%; margin-left:5%; margin-top:5%; text-align:center; }

#game_example_block table { width:100%; }
#game_example_block .header { font-size:120%; }
#game_example_block table td { width:20%; padding:3%; font-size:120%; }
#game_example_block #close_example { float:right; clear:both; padding-right:1%; }


/* Game Card */
#bing_card_section { width:95%;margin:auto; text-align:center; }
@media screen and (min-width:1024px ) {
	#bing_card_section { width:60%; }
}
#bingo_card_table { margin-top:10%; }
#bingo_card_table tbody tr td { padding:3% !important;}
#bingo_card_table * { font-size: 190%; }
#bingo_card_table td.number_selected { background-color:limegreen; color:white; border:none;}
.freeSpace { font-size:70% !important; }
.game_card_input { font-size: 30px; }
.number_cell_needed { color: red } 
/* //: 2px dashed red; } */


/*******************************************************************************************
	THEME: Basic
********************************************************************************************/
/*BODY*/
body.theme_basic { background-color:white; }

/* Top Section*/
#selected_cell.theme_basic { color:red; }

/* Game Table*/
tr.theme_basic.header th { background-color:lightgray; color:black; }
td.theme_basic.cell_unseen { color:gray; }
td.theme_basic.cell_seen { background-color:limegreen; color:white; }

/* Game Settings */
#game_settings_section.theme_basic { background-color:black; color:white; }
#game_settings_section.theme_basic #close_game_settings { color:red;}
#reset_game_button.theme_basic { background-color:red; color:white; }

/* Game Example */
#game_example_block.theme_basic { background-color:black; color:white; }
#game_example_block.theme_basic #close_example { color:red;}



/*******************************************************************************************
	THEME: Red Background
********************************************************************************************/

/*BODY*/
body.theme_red_bg { background-color:red; }

/* Top Section*/
#selected_cell.theme_red_bg { color:white; }

/* Game Table*/
tr.theme_red_bg.header th { background-color:lightgray; color:black; }
td.theme_red_bg.cell_unseen { color:gray; }
td.theme_red_bg.cell_seen { background-color:limegreen; color:white; }

/* Game Settings */
#game_settings_section.theme_red_bg { background-color:black; color:white; }
#game_settings_section.theme_red_bg #close_game_settings { color:red;}
#reset_game_button.theme_red_bg { background-color:white; color:red; }

/* Game Example */
#game_example_block.theme_red_bg { background-color:black; color:white; }
#game_example_block.theme_red_bg #close_example { color:white; color:red;}


/*******************************************************************************************
	THEME: Black Background
********************************************************************************************/

/*BODY*/
body.theme_black_bg { background-color:black; color:white; }

/* Top Section*/
#selected_cell.theme_black_bg { color:red; }

/* Game Table*/
tr.theme_black_bg.header th { background-color:lightgray; color:black; }
td.theme_black_bg.cell_unseen { color:gray; }
td.theme_black_bg.cell_seen { background-color:limegreen; color:red; }

/* Game Settings */
#game_settings_section.theme_black_bg { background-color:gray; color:black; }
#game_settings_section.theme_black_bg #close_game_settings { color:white; background-color:red;}
#reset_game_button.theme_black_bg { background-color:red; color:white; }

/* Game Example */
#game_example_block.theme_black_bg { background-color:black; color:white; }
#game_example_block.theme_black_bg #close_example { background-color:red; color:white; }
